/* цвет основного текста #757575 */
/* вторичный цвет текста   #212121 */
/* цвет контактов в футере rgba(255, 255, 255, 0.60) */
/* белый цвет #FFFFFF */
/* черный цвет лого в хедере  #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* третий цвет фона #2F303A */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196f3;
  }